@import 'tailwindcss';

@theme {
  --primary-color: #004d40;
  --secondary-color: #ffd200;

  --white-text: #ffff;

  --red-rating: #ef4444;

  --gradient-overlay: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 1) 100%);

  --font-display: 'Satoshi', sans-serif;
}
